{% load static %}
            {% for post in l_posts %}
            <div class="w-full px-4 md:w-1/2 lg:w-1/3">
                <div class="wow fadeInUp group mb-10" data-wow-delay=".1s">
                    <div class="mb-8 overflow-hidden rounded" style="height:11rem;">
                        <a href="{% url 'detail' post.id %}" class="block postimage">
                            <img src="{{post.image.url}}" alt="image" style="height:11rem;" class="w-full transition group-hover:rotate-6 group-hover:scale-125" />
                            
                            <span class="mb-4 inline-block text-xl font-semibold sm:text-2xl lg:text-xl xl:text-2xl">
                            {% if post.title|length > 50 %}
                            {{post.title|slice:'25'}}...
                            {% else %}
                            {{post.title}}
                            {% endif %}
                            </span>
                            
                        </a>
                    </div>

                </div>
            </div>
            
            {% endfor %}


