{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<!-- ====== Banner Section Start -->
<div class="relative z-10 overflow-hidden bg-primary pt-[120px] pb-[100px] md:pt-[130px] lg:pt-[160px]">
    <div class="container">
        <div class="-mx-4 flex flex-wrap items-center">
            <div class="w-full px-4">
                <div class="text-center">
                    <h1 class="text-4xl font-semibold text-white">password update</h1>
                </div>
            </div>
        </div>
    </div>
    {% if form.errors %}
    <div class="alert" style="z-index: 999; ">
        {% for field_errors in form.errors.values %}
        {% for error in field_errors %}
        <div>
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{error}}
        </div>
        {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
    <div>
        <span class="absolute top-0 left-0 z-[-1]">
            <svg width="495" height="470" viewBox="0 0 495 470" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="55" cy="442" r="138" stroke="white" stroke-opacity="0.04" stroke-width="50" />
                <circle cx="446" r="39" stroke="white" stroke-opacity="0.04" stroke-width="20" />
                <path d="M245.406 137.609L233.985 94.9852L276.609 106.406L245.406 137.609Z" stroke="white"
                    stroke-opacity="0.08" stroke-width="12" />
            </svg>
        </span>
        <span class="absolute top-0 right-0 z-[-1]">
            <svg width="493" height="470" viewBox="0 0 493 470" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="462" cy="5" r="138" stroke="white" stroke-opacity="0.04" stroke-width="50" />
                <circle cx="49" cy="470" r="39" stroke="white" stroke-opacity="0.04" stroke-width="20" />
                <path d="M222.393 226.701L272.808 213.192L259.299 263.607L222.393 226.701Z" stroke="white"
                    stroke-opacity="0.06" stroke-width="13" />
            </svg>
        </span>
    </div>
</div>
<!-- ====== Banner Section End -->

<!-- hhhhhhhhhhhh -->
<!-- ====== profile Section Start -->
<section id="about" class="bg-[#f3f4fe] pt-20 pb-20 lg:pt-[120px] lg:pb-[120px]">
    <div class="container">
        <div class="wow fadeInUp bg-white" data-wow-delay=".2s">
            <div class="-mx-4 flex flex-wrap">
                <div class="w-full px-4">
                    <div class="items-center justify-between overflow-hidden border lg:flex">
                        <div
                            class="w-full py-12 px-7 sm:px-12 md:p-16 lg:py-9 lg:px-16] xl:p-[70px]">
                            <span class="mb-5 block bg-primary py-2 px-5 text-sm font-medium text-center text-white">
                                change password
                            </span>
                            <hr>
                            <hr>
                            <form method="post">
                                {% csrf_token %}
                                <div class="divprofile">
                                    <h5>
                                        old password :
                                    </h5>
                                    <div style='grid-column: span 3 / span 3;'>
                                        {{form.old_password}}
                                    </div>
                                </div>
                                <hr>
                                <div class="divprofile">
                                    <h5>
                                        new password :
                                    </h5>
                                    <div style='grid-column: span 3 / span 3;'>
                                        {{form.new_password1}}
                                        <!-- {{form.new_password1.help_text}} -->
                                        <ul style="list-style: disc; padding: 15px; font-size: 10px;">
                                            <li>Your password can’t be too similar to your other personal information.</li>
                                            <li>Your password must contain at least 8 characters.</li>
                                            <li>Your password can’t be a commonly used password.</li>
                                            <li>Your password can’t be entirely numeric.</li>
                                        </ul>
                                    </div>
                                </div>
                                
                                <hr>
                                <div class="divprofile">
                                    <h5>
                                        confirm password :
                                    </h5>
                                    <div style='grid-column: span 3 / span 3;'>
                                        {{form.new_password2}}
                                    </div>
                                </div>
                                <hr>
                                <hr class="mb-4">
                                <input type="submit" value="Edit Profile"
                                    class="editclass inline-flex items-center justify-center rounded bg-primary py-4 px-6 text-base font-medium text-white transition duration-300 ease-in-out hover:bg-opacity-90 hover:shadow-lg">
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== profile Section End -->
<script>
    // Select the element you want to add an attribute to
        var old_password = document.getElementById('id_old_password');
        var new_password1 = document.getElementById('id_new_password1');
        var new_password2 = document.getElementById('id_new_password2');

        // Add the attribute and its value
        old_password.setAttribute('class', 'bordder-[#E9EDF4] w-full rounded-md border bg-[#FCFDFE] py-3 px-5 text-body-color text-body-color placeholder-[#ACB6BE] outline-none transition focus:border-primary focus-visible:shadow-none mb-6');
        new_password1.setAttribute('class', 'bordder-[#E9EDF4] w-full rounded-md border bg-[#FCFDFE] py-3 px-5 text-body-color text-body-color placeholder-[#ACB6BE] outline-none transition focus:border-primary focus-visible:shadow-none mb-6');
        new_password2.setAttribute('class', 'bordder-[#E9EDF4] w-full rounded-md border bg-[#FCFDFE] py-3 px-5 text-body-color text-body-color placeholder-[#ACB6BE] outline-none transition focus:border-primary focus-visible:shadow-none mb-6');
        old_password.setAttribute('placeholder', 'Old password');
        new_password1.setAttribute('placeholder', 'New password');
        new_password2.setAttribute('placeholder', 'Confirm new password');

</script>

{% endblock content %}